body{
	margin: 0;	
	padding: 0;
	min-height: 100%;
	width: 100%;
}

h2{
	margin: 0 0 5px 0;
	font-size: 18px;	
}

header{
	background: blue;
	height: 70px;
	width: 100%;
}

section, header, main, footer{
	display: block;	
}

#fig-logo{
	height: inherit;
	width: 20%;
	margin: 0;
	padding: 0 0 0 10%;
	float: left;
}

#logo{
	height: inherit;
	width: 72px;
}

nav{
	width: 60%;
	float: left;
	margin: 26px 0 0 0;
	padding-right: 10%;
	text-align: right;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 25px;
	padding: 12px 30px;
}

.inline{
	display: inline-block;
}

main{
	width: 70%;
	margin: 25px auto;
}

#fil-arianne{
	margin: 0px 0 15px 0;
}

#fil-arianne a{
	color: black;
	font-size: 15px;
	padding: 0 10px;
	font-weight: bold;	
}

#fil-arianne a:first-child{	
	padding: 0 10px 0 0;
}

#bloc-principal, #bas{
	padding: 15px;
	background: blue;
	color: white;	
}

#click{
	background: black;
	color: white;
	border: 1px solid white;
	padding: 10px 20px;	
}

.moitie{
	width: calc((100% - 2%)/2);
	height: inherit;
}

.moitieCentre{
	width: calc((100% - 2% - 12px)/2);
}

.moitie img{
	width: 50%;
	float: left;
	height: 144px;	
}

#inlineDroit, #inlineGauche{
	border: 2px solid #666;
}

#inlineDroit{
	margin: 0 1% 0 0;
}

#inlineGauche{
	margin: 0 0 0 1%;
}

article{
	margin: 0;
	padding: 3px;
}

#active{
	border-bottom: 5px solid white;
}

#centre, #bas{
	margin-top: 40px;
}

#centre, .centre{
	height: 200px;
}

footer{
	background: white;
    width: 100%;
    min-height: 50px;
    border-top: 2px solid grey;
}

details{
	width: 50%;
	margin: auto;
	text-align: center;
}


